/* Community.css */
.community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.tabs button {
    flex: 1;
    background-color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 3px;
}

.tabs button.active {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
    margin-bottom: 30px;
}

.search-inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.search-inputs input {
    width: 100%;
    padding: 13px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 14%;
}

.search-buttons button {
    padding: 13px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.sort-options {
    display: flex;
    justify-content: space-between; /* 양 끝 정렬 */
    width: 73%; /* 검색 창과 동일한 너비 */
    margin-bottom: 20px;
}

.sort-options div {
    display: flex;
}

.sort-options label {
    margin: 0 10px;
    cursor: pointer;
}


.sort-options input {
    margin-right: 5px;
}

.write-button {
    padding: 13px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #003366;
    color: white;
}